@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

@media (prefers-color-scheme: dark) {

}

.fade-out {
  animation: fadeOut 1.9s forwards;
}

.wrapper {
  padding-top: -10px;
  overflow: hidden;
  margin: 5%;
  border-radius: 15px;
  height: 90vh;
  width: 90vw;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  animation: fadeIn 0.15s ease-in-out;

}

header {
  display: flex;
  padding: 0 5px;
  align-items: center;
  height: 40px;
  background-color: rgb(241, 241, 241);
}

.taskList {
  height: 90%;
  overflow-x: hidden;
  overflow-y: scroll;
}

.taskWrapper {
  position: relative;
  padding: 4px;
}

.taskBody {
  cursor: grab;
  border-radius: 5px;
  font-weight: bold;
  padding: 8px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  background-color: white;
}